
<html>
    <body>

<h1>Update Product Page</h1>

<div>
    <form (ngSubmit)="f.form.valid&&OnSubmit(productInfo.productId)" #f="ngForm" novalidate>
<table class="container">

<tr class="img">
<td rowspan="8">
<img src="../../assets/product Icon/icon.webp" height="500" width="400" alt="NO photo"/><br><br>


</td>
</tr>

<tr>
    <td>
        <label for="name">ImgUrl :</label><br>
        <input type="text" id="il" placeholder="url" name="il"required [(ngModel)]="productInfo.productImgUrl"#img="ngModel">
        <span class="text-danger" *ngIf="this.submit&&img.errors?.['required']">
            <p>Img is required</p>
        </span>
    </td>
<td>
<label for="ct">Category :</label><br>
<select id="ct"name="Category" required [(ngModel)]="productInfo.productPart" #ct="ngModel">
    <option value="">select...</option>
    <option value="bodayFrame">Body Frame</option>
    <option value="engine">Engine part</option>
    <option value="wheels">Wheels</option>
    <option value="lights">Lights</option>
    <option value="oil">Oil</option>
    <option value="tires">Tires</option>
    <option value="transmission">Transmission</option>
    
    </select>
    <span class="text-danger" *ngIf="this.submit&&ct.errors?.['required']">
        <p>place fill the box</p>
    </span>
</td>
</tr>
<tr>
<td>
<label for="name">Name :</label><br>
<input type="text" id="name" placeholder="product name" name="name"required [(ngModel)]="productInfo.productName" #name="ngModel">
<span class="text-danger" *ngIf="this.submit&&name.errors?.['required']">
    <p>Name is required</p>
</span>
</td>


<td>
<label for="mn">Model No :</label><br>
<input type="text" id="mn" placeholder="year"  name="mn"required [(ngModel)]="productInfo.model" #model="ngModel">
<span class="text-danger" *ngIf="this.submit&&model.errors?.['required']">
    <p>Model No is required</p>
</span>
</td>


<td>
<label for="brand">Brand :</label><br>
<input type="text" id="brand" placeholder="Brand name" name="brand"required [(ngModel)]="productInfo.brand" #brand="ngModel">
<span class="text-danger" *ngIf="this.submit&&model.errors?.['required']">
    <p>Model is required</p>
</span>
</td>

</tr>

<tr>

<td>
<label for="price">Price :</label><br>
<input type="text" id="price" placeholder="Price" name="price" required [(ngModel)]="productInfo.price" #price="ngModel">
<span class="text-danger" *ngIf="this.submit&&price.errors?.['required']">
    <p>Price is required</p>
</span>
</td>

<td>
<label for="stock">Total No Of Stocks :</label><br>
<input type="text" id="stock" placeholder="no of Stocks" name="ns" required [(ngModel)]="productInfo.noOfStack" #stock="ngModel">
<span class="text-danger" *ngIf="this.submit&&stock.errors?.['required']">
    <p>Enter Stocks</p>
</span>
</td>
</tr>

<tr>
<td>
<label for="rating">Rating:</label><br>
<select id="rating" name="rating" required [(ngModel)]="productInfo.productRating" #rating="ngModel">
    <option value="">select...</option>
    <option value="Excelent">Excelent</option>
    <option value="Good">Good</option>
    
    </select>
    <span class="text-danger" *ngIf="this.submit&&rating.errors?.['required']">
        <p>pleace enter your Rating</p>
    </span>
</td>
</tr>

<tr>
<td>
<label for="waranty">Waranty:</label><br>
<input type="text" id="warenty" name="waranty" placeholder="Waranty" required [(ngModel)]="productInfo.productWaranty">
</td>
</tr>
<tr>
    <td>
        <button  class="btn btn-danger" (click)="goToAdminHome()" >Back To Home</button>
    </td>
<td>
<input type="submit" class="btn btn-primary"value="Update Product" (click)="submit=true">
</td>

</tr>

</table>
</form>
</div>
</body>
</html>